<a href="/"
   type="button"
   class="btn btn-secondary"
   data-dismiss="modal"><i class="fas fa-window-close mr-1"></i>取消</a>
<button type="submit"
        class="btn btn-danger"><i class="fas fa-save mr-1"></i>確定</button>