<div class="modal fade"
     id="modal-form"
     tabindex="-1"
     aria-labelledby="modal-form"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      {{> new}}
    </div>
  </div>
</div>