{{!-- show search information --}}
<div class="alert alert-warning text-center"
     role="alert">
  <span class="mr-2"> {{#if results}}{{length}} search results!{{else}}Please enter at least a
    keyword in search
    bar!{{/if}} </span>
</div>